body {
	padding: 0px;
	margin: 0px;
	background: #000;
}
#desktop{
	width: 100%;
	height:100%;
}
#desktop img{
	height: 99%;
	display:table;
	margin: auto;
}
#footerBar {
	height: 45px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	outline: 1px solid #000;
	background: #AACCFF;
}
#btnStart:hover {
	box-shadow: 0 0 40px #000;
}
#btnStart {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	display:inline-block;
	position: relative;
	overflow: visible;
	left: 20px;
	top: 2px;
	background: -webkit-gradient(
	linear,left top,left bottom,
	color-stop(0,#5AF),
	color-stop(.5,#69F),
	color-stop(.6,#46F),
	color-stop(.8,#04F),
	color-stop(1,#7AF)
	);
}
#startPane {
	display:none;
	width: 400px;
	height: 500px;
	border: 1px solid #000;
	border-radius: 10px 10px 0 0;
	position: absolute;
	left: 2px;
	bottom: 47px;
	background: #88AAFF;
	background: -webkit-gradient(
	linear,left top,left bottom,
	color-stop(0,#CDE),
	color-stop(.2,#567),
	color-stop(.3,#567),
	color-stop(.5,#456),
	color-stop(.6,#456),
	color-stop(.7,#567),
	color-stop(1,#CDF)
	);
}
#StartData{
	height:97%;
	margin:5px;
	background:white;
	width:60%;
	border-radius: 5px;
	border:1px solid #456;
	box-shadow:0 0 5px #FFF;
	position: relative;
}
#userIcon{
	width:60px;
	height:60px;
	border:1px solid #456;
	border-radius:5px;
	left:300px;
	top:-30px;
	position: absolute;
	cursor:pointer;
	background:-webkit-gradient(
				linear,left top,right bottom,
				color-stop(0,#AFF),
				color-stop(1,#456)
				);
	padding:4px;
}
#userIcon img{
	width:100%;
}
.glow{
	box-shadow:1px solid #FFF;
}
.inner-glow{
	box-shadow:1px solid #FFF inset;
}
#btnPower{
	border:1px solid #789;
	position: absolute;
	bottom: 20px;
	right: 40px;
	background:-webkit-gradient(
							linear,left top,left bottom,
							color-stop(0,#AAF),
							color-stop(.5,#789),
							color-stop(1,#AAF));
	color:white;
	vertical-align: middle;
	cursor: default;
	border-radius:4px;
	box-shadow:0 0 5px #fff inset;
	padding: 2px 8px 2px 8px;
}

#btnPower:hover{
	box-shadow:0px 0px 20px #fff inset;
}
#footerDate{
	display: inline-block;
	float: right;
	padding:1px;
	margin-right:20px;
	color:#FFF;
	text-align: center;
	cursor: default;
}
#SrchBar{
	position: absolute;
	bottom:0px;
	border-top:1px solid #789;
	box-shadow:0px 10px 50px #ABC inset;
	width:96%;
	padding:5px;
	border-radius:0 0 5px 5px;
}
#SrchBar input{
	width:85%;
	padding:2px;
	margin:5px;
}
::selection{
	display: none;
}
